Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-CORS
Flask-Bcrypt
Flask-Mail
marshmallow
python-dotenv
PyMySQL
cryptography
Pillow
cloudinary
requests
python-dateutil
validators
pytest
pytest-flask
flask-bcrypt
paypalrestsdk
Flask-Session
langchain
langchain-openai
langchain-core
langchain-community
chromadb==0.4.22
tiktoken==0.5.2